{% include "header.html" %}
<div class="container">
    <p>There are {{num_tokens_with_transactions}} tokens with >10 transactions & transactions in the last 5min</p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Top Holder</th>
                <th scope="col">LP</th>
                <th scope="col">PooCoin</th>
                <th scope="col">BSCScan</th>
                <th scope="col">PancakeSwap</th>
            </tr>
        </thead>
        <tbody>
            {% for name, address, bsc, pcs, poo, owner, liquidity_pool, main_holder in final_tokens_list %}
            <tr>
                <td scope="row">{{name}}</td>
                <td>{{owner}}</td>
                <td><a href="{{bsc}}#balances">{{main_holder}}</a> </td>
                <td><a href="https://bscscan.com/token/{{liquidity_pool}}#balances" target="_blank">Pool</a></td>
                <td><a href="{{poo}}" target="_blank">Chart</a></td>
                <td><a href="{{bsc}}" target="_blank">BSC</a></td>
                <td><a href="{{pcs}}" target="_blank">Pancake</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "footer.html" %}