{% include "header.html" %}
<div class="container">
    <h2>HFR ShitCoin Analysis Completed!</h2>
    <p>
        <h3>Key statistics:</h3>
        <ul>
            <li>Timeframe: last {{timeframe}} minutes</li>
            <li>Tokens Analyzed: {{total_analysed}}</li>
            <li>Tokens Retained: {{num_retained}}</li>
        </ul>
    </p>

    <p><a href="/">Run the Analysis again</a></p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Poocoin</th>
                <th scope="col">Holders</th>
                <th scope="col">LP</th>
            </tr>
        </thead>
        <tbody>
            {% for token in final_tokens_list %}
            <tr>
                <td scope="row">${{token.symbol}} - {{token.name}}</td>
                <td scope="row"><a href="https://bscscan.com/address/{{token.owner}}" target="_blank">${{token.owner_type}}</a></td>
                <td scope="row"><a href="{{token.poocoin}}" target="_blank">Chart</a></td>
                <td scope="row"><a href="{{token.top_holders}}" target="_blank">Holders</a></td>
                <td scope="row"><a href="{{token.lp}}" target="_blank">LP Holders</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "footer.html" %}