{% include "header.html" %}
{% if auto_reload %}
<meta http-equiv="refresh" content="60">
{% endif %}
</head>
<body>
<div class="container">
    <h2>HFR ShitCoin Analysis Completed!</h2>
    <p>
        <h3>Key statistics:</h3>
        <ul>
            <li>Timeframe: last {{timeframe}} minutes</li>
            <li>Tokens Analyzed: {{total_analysed}}</li>
            <li>Tokens Retained: {{num_retained}}</li>
        </ul>
    </p>

    <p><a href="/">Run the Analysis again</a></p>

    <p class="text-danger">Note: in red are coins with a low transaction count (<10 in last 10 minutes)</p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Poocoin</th>
                <th scope="col">Holders</th>
                <th scope="col">LP v2</th>
                <th scope="col">Time</th>
                <th scope="col"># Tx (last 10m)</th>
            </tr>
        </thead>
        <tbody>
            {% for token in final_tokens_list %}
            <tr class="{{token.transfer_color}}">
                <td scope="row">${{token.symbol}} - {{token.name}} <button type="button" class="btn btn-secondary btn-sm" onClick="copyToken('{{token.symbol}}', '{{token.name}}', '{{token.address}}')">copy</button></td>
                <td scope="row"><a href="https://bscscan.com/address/{{token.owner}}" target="_blank">${{token.owner_type}}</a></td>
                <td scope="row"><a href="{{token.poocoin}}" target="_blank">Chart</a></td>
                <td scope="row"><a href="{{token.top_holders}}" target="_blank">Holders</a></td>
                <td scope="row"><a href="{{token.lp_v2}}" target="_blank">v2 Holders</a></td>
                <td scope="row">{{token.creation_time}}m ago</td>
                <td scope="row">{{token.num_transfers}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function copyToken(symbol, name, address) {
        const tokenDesc = document.createElement('textarea');
        tokenDesc.value = "$" + symbol + " - " + name + " -> " + address;
        document.body.appendChild(tokenDesc);
        tokenDesc.select();
        document.execCommand('copy');
        document.body.removeChild(tokenDesc);
    }
</script>
{% include "footer.html" %}